:root
{
  --yellow: #eeb9e7;
    --orange : #eeb9e7;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 5px 5px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -5px 5px 6px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button{
  background: linear-gradient(180deg, #eeb9e7 26.71%, #eeb9e7 99.36%);
  box-shadow: 2px 2px 2px rgba(251, 40, 170, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}
.button:hover{
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}
body{
  background-color: rgb(167, 127, 127);
}
